* {
  box-sizing: border-box;
}

body {
  font-family: 'Futura', Helvetica, sans-serif;
  margin: 0;
}

header {
  border-bottom: 1px solid #E9E9E9;
}

/* max-width makes the content look good on larger screens */
main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px 24px;
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  gap: 12px;
  padding-bottom: 16px;
}

/* hide the "no recipe found" message */
#displayMessage {
  display: none;
}

/* button/radio input styling */
.button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50px;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.25);
  margin: 8px;
  cursor: pointer;
  user-select: none;
}

/* hide the input thingy inside my label */
label input {
  display: none;
}

.btn-filter {
  background-color: #CCFFE2;
  color: #0018A4;
  border: 2px solid #CCFFE2;
}

.btn-filter:has(:checked) {
  background-color: #0018A4;
  color: #FFFFFF;
  border: 2px solid #0018A4;
}

.btn-filter:hover {
  border: 2px solid #0018A4;
}

.btn-sort {
  background-color: #FFECEA;
  color: #0018A4;
  border: 2px solid #FFECEA;
}

.btn-sort:hover {
  background-color: #FF6589;
  color: #FFFFFF;
  border: 2px solid #0018A4;
}

.btn-sort:has(:checked) {
  background-color: #FF6589;
  color: #FFFFFF;
  border: 2px solid #FF6589;
}

.btn-random {
  background-color: #FF6589;
  color: #FFFFFF;
  border: 2px solid #FF6589;
}

.btn-random:hover {
  background-color: #FFECEA;
  color: #FF6589;
  border: 2px solid #0018A4;
}

/* Cards styling */

.card-parent {
  display: grid;
  justify-content: center;
  align-content: space-around;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
  padding: 24px 0;
}

.card {
  border: 2px solid #E9E9E9;
  border-radius: 16px;
  padding: 16px;
}

.card:hover {
  box-shadow: 4px 1px 10px 1px rgba(0, 0, 0, 0.25);
  border: 2px solid #0018A4;
}

.card-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 12px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  color: #0018A4;
  font-size: 46px;
  padding: 10px;
}

h2 {

  border-bottom: 1px solid #E9E9E9;
  padding: 16px 0;
}


.title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 8px;
}

p,
button {
  font-size: 16px;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}


.instructions {
  display: flex;
  align-items: center;
}

.ingredients {
  border-top: 1px solid #E9E9E9;
}

footer {
  border-top: 1px solid #E9E9E9;
  padding: 16px;
}

.icons {
  display: flex;
  justify-content: center;
}

i {
  color: #000000;
  font-size: 25px;
  padding: 5px;
}

i:hover {
  opacity: 0.6;
}